body {
    background-color: #2d2d3b;
}

nav{
    background-color: #47475b;
    width: 99%;
    height: 50px;
    position:fixed;
    float: left;
}

a{
    text-decoration: none;
	font-weight: bold;
    border: solid;
    border-radius: 15%;
    background-color:#5F5F73;
    color:#D9D9E9;
    border-style: hidden;
    display: inline-block;
    
}

a:hover{
    background-color: #D9D9E9;
    color:#5F5F73 ;
}

li {
	list-style: none;
    float: left;
}

h1{
    text-align: center;
    color: #D9D9E9;
}

