body {
    background-color: #2d2d3b;
}

nav{
    background-color: #47475b;
    width: 99%;
    height: 60px;
    position:fixed;
}

a{
    text-decoration: none;
	font-weight: bold;
    border: solid;
    border-radius: 15%;
    background-color:#5F5F73;
    color:#D9D9E9;
    border-style: hidden;
    display: inline-block;
   
    /*Hintergrund Boxen vergrößern*/
}

a:hover{
    background-color: #D9D9E9;
    color:#5F5F73 ;
}

h1{
    text-align: center;
    color: #D9D9E9;

    font-size: 40px;
}

li {
	list-style: none;
    /* float: left; */
    position: absolute;
    padding-top: 1%;
    padding-left: 1%;
}

li1 {
    position: absolute;
    padding-top: 1%;
    padding-left: 92%;
}

li2 {
    position: absolute;
    padding-top: 1%;
    padding-left: 97%;
}

