body {
    background-color: #2d2d3b;
}

nav{
    background-color: #47475b;
    width: 99%;
    height: 55px;
    position:fixed;
    float:left;
}

a{
    text-decoration: none;
	font-weight: bold;
    border: solid;
    border-radius: 15%;
    background-color:#5F5F73;
    color:#D9D9E9;
    border-style: hidden;
    display: inline-block;
   
    /*Hintergrund Boxen vergrößern*/
}

a:hover{
    background-color: #D9D9E9;
    color:#5F5F73 ;
}

h1{
    text-align: center;
    color: #D9D9E9;
    font-size: 40px;
    margin-top: 0.2%;
}

li {
	list-style: none;
    /* float: left; */
}

#home {
    position: fixed;
    /*margin-top: 1.2%;*/
    padding:18.2px;
}
#gruppen {
    position: fixed;
    margin-left: 88.5%;
    /*margin-top: 1.2%;*/
    padding:18.2px;
}

#profil {
    position: fixed;
    margin-left: 94.5%;
    /*margin-top: 1.2%;*/
    padding:18.2px;
}

