#Startseite{
    background-color:#47475b;
    margin:auto;
    position: fixed;
    width: 60%;
    height: 67%;
    margin:8% 20%;
    border-radius: 100px;
}

#buttons{
    background-color: #e48013;
    color: #D9D9E9;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
    margin-top: 8%;
    margin-left:5%;
    margin-right: 5%;
    padding:2.5%;
}

#buttons:hover{
    background-color:#c76e0e;
    cursor: pointer;
}